<?xml version="1.0" encoding="UTF-8"?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <athoscommerce>
            <configuration>
                <siteid/>
                <endpoint/>
                <secretkey/>
                <shopdomain/>
            </configuration>
            <indexing>
                <enable_live_indexing>0</enable_live_indexing>
                <discovery_cron_expr>*/30 * * * *</discovery_cron_expr>
                <entity_sync_cron_expr>*/2 * * * *</entity_sync_cron_expr>
                <task_payload></task_payload>
            </indexing>
        </athoscommerce>
    </default>
</config>
